/*universals*/

sub {
  color: #C0C0C0;
  float: left;
  padding: 4px 0 10px 0;
}

h3 {
  text-align: center;
}

/*body*/ 

body {
  max-width: 1125px;
  margin: auto;
}

#body {
  width: 90%;
  margin: auto;
  margin-top: 4px;
  margin-bottom: 4px;
}

/*header*/

header {
  background-image: url("./images/background.jpg");
  background-position: center bottom;
  margin: auto;
  border-radius: 10px;
  border: #E0E0E0 solid 1px;
  background-size: cover;
  margin-top: 2px;
  margin-bottom: 2px;
  text-align: center;
  height: 260px;
}

header img {
  border-radius: 100px;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.25);
  border: #E0E0E0 1px solid;
  width: 150px;
  height: 150px;
  margin: auto;
  display: inline-block;
}

#profile {
  padding: 35px 0 46px 0;
  display: block;
}

/*navbar*/

#navbar {
  display: block;
}

nav li {
  list-style-type: none;
  display: inline-block;
  padding: 0px 50px;
}

nav ul {
  width: 100%;
  margin: auto;
}

header nav {
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

nav a {
  text-decoration: none;
  font-size: 1.25em;
}

nav a:link {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
}

nav a:visited {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
}

/*all aside lists*/

aside sub {
  margin-bottom: 10px;
}

aside li {
  list-style-type: none;
}

aside a {
  text-decoration: none;
}

aside li img {
  margin: 0px 7px 20px 0px;
}

aside a:link {
  color: rgba(0, 159, 204, 0.75);
  text-decoration: none;
}

aside a:visited {
  color: rgba(0, 159, 204, 0.75);
  text-decoration: none;
}

/*links side bar*/

#links img {
  height: 50px;
  width: 50px;
  float: left;
}

#links {
  border: #E0E0E0 solid 1px;
  border-radius: 10px;
  margin: auto;
  width: 30%;
  float: left;
  margin-top: 2px;
  margin-bottom: 2px;
  clear: left;
}

/*blog summaries side bar*/

#recent-posts {
  border: #E0E0E0 solid 1px;
  border-radius: 10px;
  margin: auto;
  width: 30%;
  float: left;
  margin-top: 2px;
  margin-bottom: 2px;
  clear: left;
}

#recent-posts li {
  margin: 0px 30px 0 0;
  clear: left;
}

/*twitter side bar*/

#twitter {
  border: #E0E0E0 solid 1px;
  border-radius: 10px;
  margin: auto;
  width: 30%;
  float: left;
  margin-top: 2px;
  margin-bottom: 4px;
  padding-right: 2px;
  padding-top: 3px;
  clear: left;
}

/*sections*/

section {
  border: #E0E0E0 solid 1px;
  border-radius: 10px;
  margin: auto;
  width: 66%;
  float: right;
  margin-top: 2px;
  margin-bottom: 2px;
}

section p {
  margin: 20px 30px;
}

.disclosure {
  text-align: center;
  color: #C0C0C0;
  font-size: .75em;
  font-style: italic;
}

section img {
  margin: 0px 30px 0px 30px;
  display: inline-block;
  width: 80%;
}

section sub {
  margin-left: 30px;
  margin-bottom: 10px;
}

/*filetree blog post*/

.indent_0 {
  list-style-type: none;
  padding-right: 30px;
}

.indent_1 {
  list-style-position: inside;
  padding-left: 10px;
  padding-right: 30px;
}

.indent_2 {
  padding-left: 30px;
  padding-right: 30px;
  list-style-position: inside;
  list-style-type: square;
  font-size: .85em;
}

.indent_3{
  padding-left: 50px;
  padding-right: 30px;
  list-style-position: inside;
  list-style-type: circle;
  font-size: .85em;
}

.sources_title {
  text-decoration: underline;
  list-style-type: none;
}

.sources {
  list-style-type: none;
  padding-left: 30px;
}

section li {
  padding: 0px 30px 0px 0px;
}

/*sql blog post*/

section .select_statement {
  list-style-type: none;
  padding-left: 50px;
  list-style-position: inside;
  font-size: .85em;
}

/*footer*/

footer {
  border: #E0E0E0 solid 1px;
  border-radius: 10px;
  margin: auto;
  width: 100%;
  clear: both;
  margin-top: 2px;
  margin-bottom: 2px;
  text-align: center;
}

/*media queries*/

@media handheld, screen and (max-width: 850px) {
  
  section {
    float: left;
    width: 100%;
    clear: right;
  }

  #links {
    float: left;
    width: 100%;
  }

  #recent-posts {
    display: none;
  }

  #twitter {
    display: none;
  }

  nav li {
    padding: 0px 20px;
  }
}
