
body {
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
}

.navbar {
  color: white;
  background-color: #0c0e1b;
  left: 0;
}

.jumbotron {
  margin-top: 5px;
  background-color: #ffffff;
  border-radius: 10px;
  border-top: 5px solid #8b9db8;
  border-bottom: 5px solid #8b9db8;
  clear: both;
}

li {
  list-style-type: none;
}

#final-proj li {
  list-style-type: circle;
}

a {
  /*text-decoration: none;*/
}

.navbar-left {
  top: 0;
  position: fixed;
  margin: 0;
  padding: 0;
  width: 20%;
  height: 100%;
}

.navbar-left img {
  border-radius: 100px;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.25);
  border: #E0E0E0 2px solid;
  /*width: 70%;*/
  height: auto;
  margin: 10% auto 10% auto;
  /*display: block;*/
  /*float: center;*/
}

#profile {
  border-radius: 100px;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.25);
  border: #E0E0E0 2px solid;
  width: 15%;
  height: auto;
  margin: 10px 0 10px 20px;
  float: left;
  display: inline-block;
}

.content-right #name {
  float: left;
  font-size: 3.5em;
  margin: 20px 0 0 5px;
  font-family: "Lucida Console", Monaco, monospace;
}

.content-bottom #name {
  float: left;
  font-size: 1.75em;
  margin: 0;
  margin: 30px 0 0 5%;
  font-family: "Lucida Console", Monaco, monospace;
}

.navbar-top {
  width: 100%;
  position: static;
}

.navbar-top img {
  border-radius: 100px;
  border: #E0E0E0 2px solid;
  margin: 5px;
  height: 100px;
  width: auto;
  float: left;
}

.navbar .local-links {
  /*margin: 10px auto 10px auto;*/
  float: center;
  text-align: center;
  padding: 20px 15px 15px 15px;
}

.navbar .local-links a {
  margin: 0 5%;
  font-weight: bold;
  font-size: 1.25em;
}

.navbar p {
  margin: 10px auto;
  clear: left;
  padding: 5px;
}

.navbar .external-links {
  display: inline;
  margin: auto;
  /*float: center;*/
  padding-bottom: 30px;
}

#aboutme {
  padding-top: 30px;
}

.navbar .external-links a img {
  height: 30px;
  width: 30px;
  /*display: inline;*/
  margin: auto;
}

.content-right {
  margin: 0 5% 0 25%;
  width: 70%;
}

.content-bottom {
  width: 90%;
  margin: 0px 5% 0px 5%;
  padding-top: 20px;
}

.footer {
  /*margin-left: 35%;*/
  clear: both;
  margin-top: 10px;
  border-radius: 10px;
  border-top: 5px solid #8b9db8;
  border-bottom: 5px solid #8b9db8;
  text-align: center;
  background-color: #ffffff;
  margin-bottom: 10px;
}

.jumbotron img {
  width: 90%;
  max-width: 500px;
  display: block;
  padding-top: 10px;
  margin: 10px auto;
}

.posts .right {
  display: block;
  float: right;
  max-height: 200px;
  padding-left: 10px;
}

.posts .left {
  display: block;
  float: left;
  padding-right: 10px;
  max-height: 200px;
}

.posts {
  clear: both;
  padding: 0px 5px 30px 5px;
  border-top: 1px solid #bbbbbb;
  margin: 5px 0;
  display: inline-block;
}

.jumbotron p, .jumbotron h3, .jumbotron sub {
  padding-left: 5px;
  padding-right: 5px;
}

.jumbotron button {
  margin: 5px;
}

.dent_0 {
  list-style-type: none;
  padding-right: 30px; 
}

.dent_1 {
  list-style-type: none;
  padding-left: 10px;
  padding-right: 30px;
}

.dent_2 {
  list-style-type: none;
  padding-left: 20px;
  padding-right: 30px;
}

.indent_0 {
  list-style-type: none;
  padding-right: 30px;
}

.indent_1 {
  list-style-position: inside;
  padding-left: 10px;
  padding-right: 30px;
}

.indent_2 {
  padding-left: 30px;
  padding-right: 30px;
  list-style-position: inside;
  list-style-type: square;
  font-size: .85em;
}

.indent_3{
  padding-left: 50px;
  padding-right: 30px;
  list-style-position: inside;
  list-style-type: circle;
  font-size: .85em;
}

#resume {
  width: 90%;
}

#blog-revamp-post img {
  width: 30%;
  /*float: left;*/
  display: inline;
  padding-left: 2%;
}



